<!-- include public templates -->
<extend name="Public:Template" />

<!-- 内容列表 -->
<block name="content">
	<div class="bloc">
	    <div class="title">
	    	<a href="/">首页</a> / 
	        <a href="{:U($naviMenu[CONTROLLER_NAME]['url'])}">{$naviMenu[CONTROLLER_NAME]['name']}</a>
	        <div class="navmenu"><a href="javascript:;" onclick="layer.load('菜单编辑','{:U('Admin/Article/edit')}',[],50);"><img src="/Public/live/img/icons/button-add.png"></a></div>
	    </div>
	    <div class="content">
	        <table>
				<thead>
				   <thead>
                        <tr>
                            <th><input type="checkbox"  check='1' id="checkall"/>
                            <th>ID</th>
                            <th>文章名称</th>
                            <th>分类</th>
                            <th>标签</th>
                            <th>关键字</th>
                            <th>作者</th>
                            <th>点击数</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
				<tbody>
					<volist name="list" id="m">
						<tr id="deleid_{$m['id']}" class="gradeA">
							<td><input type="checkbox" name="ids[]" value="{$m['id']}"/></td>
							<td style="min-width:25px;">{$m['id']}</td>
							<td><a href="{:U('Blog/Article/info',['aid'=>$m['id']])}" target="_bank">{$m['title']}</a></td>
							<td>{$catelist[$m['cateid']]['name']}</td>
							<td>{$m['tags']}</td>
							<td>{$m['keyword']|strCutOut=12}</td>
							<td>{$m['author']}</td>
							<td>{$m['hots']}</td>
							<td>{$status[$m['status']]}</td>
							<td class="actions">
							    <a href="javascript:;" onclick="layer.load('菜单编辑','{:U('Admin/Article/edit',['artid'=>$m['id']])}',[],50);" >
							    <img src="/Public/live/img/icons/actions/edit.png" alt="编辑" /></a>
							    <a href="javascript:void(0);" url="{:U('Admin/Article/delete')}" title="删除" onclick="delall($(this),{$m['id']});">
							    <img src="/Public/live/img/icons/actions/delete.png" alt="删除" /></a>
							</td>
						</tr>
					 </volist>
				</tbody>
	        </table>
	        <div class="left input">
	            <select name="action" id="tableaction">
	                <option value="">Action</option>
	                <option value="delete">Delete</option>
	            </select>
	        </div>
	        <div class="pagination">
	        	{$page}
	        </div>
	    </div>
	</div>
</block>
