<!-- include public templates -->
<extend name="Public:Template" />

<!-- 内容列表 -->
<block name="content">
	<div class="bloc">
	    <div class="title">
	    	<a href="/">首页</a> / 
	        <a href="{:U($naviMenu[CONTROLLER_NAME]['url'])}">{$naviMenu[CONTROLLER_NAME]['name']}</a>
	        <div class="navmenu"><a href="javascript:;"  onclick="layer.load('前台导航菜单编辑','{:U('Admin/WebConf/edit/type/naviMenu')}',[],50);"><img src="/Public/live/img/icons/button-add.png"></a></div>
	    </div>
	    <div class="content">
	        <table>
				<thead>
				   <tr>
						<th><input type="checkbox" class="checkall"/></th>
						<th>ID</th>
						<th>菜单名</th>
						<th>菜单地址</th>
						<th>菜单排序</th>
						<th>菜单状态</th>
						<th>菜单说明</th>
						<th>操作</th>
				  	</tr>
				</thead>
				<tbody>
					<volist name="list" id="m">
						<tr id="deleid_{$m['id']}" class="gradeA">
							<td><input type="checkbox" name="ids[]" value="{$m['id']}"/></td>
							<td>{$m['id']}</td>
							<td>{$m['levelstr']}{$m['name']}</td>
							<td><a href="{:U($m['url'])}">{$m['url']}</a></td>
							<td>{$m['sort']}</td>
							<td>{$status[$m['status']]}</td>
							<td>{$m['description']}</td>
							<td class="actions">
							    <a href="javascript:;" onclick="layer.load('菜单编辑','{:U('Admin/WebConf/edit',['type'=>'naviMenu','id'=>$m['id']])}');" ><img src="/Public/live/img/icons/actions/edit.png" alt="编辑" /></a>
							    <a href="javascript:void(0);" url="{:U('Admin/WebConf/delete',['type'=>'naviMenu'])}" title="删除" onclick="delall($(this),{$m['id']});"><img src="/Public/live/img/icons/actions/delete.png" alt="删除" /></a>
							</td>
						</tr>
					 </volist>
				</tbody>
	        </table>
	    </div>
	</div>
</block>
