<!doctype html>
<html>
<head>
<title><block name="title">Python博客,马伟个人博客,PhPyRb博客</block></title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="keywords" content="<block name="keywords">PHP,Pythoy,Ruby,Js,Jquery,HTML5,Css,Ajax,python学习,个人主页,博客,网站建设,PHP建站</block>" />
<meta name="description" content="<block name="description">pythob学习,深圳PHP博客,马伟个人博客,python博客</block>" />
<link href="/Public/css/base.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="/Public/SyntaxHighlighter/syntaxHighlighter-min.css" />
<block name="css"></block>
</head>
<body>
	<div class="header">
		<div class="header_nav">
			<div class="logo inline">
				<a href="{:U('Article/index')}">PhPython Blog</a>
			</div>
			<div class="inline">
				<dl class="mean">
					<dd>
						<a href="**" title="">学习,马伟</a>
						<dl class="">
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
						</dl>
					</dd>
					<dd>
						<a href="**" title="">学习,马伟</a>
						<dl>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
						</dl>
					</dd>
				</dl>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<!-- end header -->
	<!-- start content -->
	<div class="content">
		<div class="left">
			<!-- start left content -->
			<block name="left-content"></block>
			<!-- end left content -->
			<div id="page">
				<p>
					<a class="textpage" href="javascript:void(0);">62 条</a> <a class="current" href="javascript:void(0);">1</a><a href="/Article-index-p-2.html">2</a><a href="/Article-index-p-3.html">3</a><a href="/Article-index-p-4.html">4</a><a href="/Article-index-p-5.html">5</a> <a href="/Article-index-p-7.html">7</a> <a href="/Article-index-p-2.html">&gt;&gt;</a> <a href="javascript:void(0);">1/7页</a>
				</p>
			</div>
			<div class="clr"></div>
		</div>
		<!-- start right -->
		<div class="right">
			<div class="sidebar">
				<h2>热门标签</h2>
				<div class="clr"></div>
				<volist name="taglist" id="t">
					<ul class="sb_menu two">
						<li><a href="{:U('Article/index',['tagid'=>$t['id']])}" title="{$t['name']}">{$t['name']}</a></li>
					</ul>
				</volist>
			</div>
			<div class="sidebar">
				<h2>热门文章</h2>
				<div class="clr"></div>
				<ul class="sb_menu">
					<li><a href="/Article-content-artid-39.html" title="Python列表常用函数详解, index,in,extend,append,insert">Python列表常用函数详解</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-1.html" title="debian初始安装,debian安装设置,debian安装vim,debian安装代码提示,debian安装PHP环境,debian安装lnmp">debian 初始安装</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-32.html" title="django的url配置、用法。">django url 详解 - Python Django 学习笔记4</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-12.html" title="mysql分组group mysql gorup mysql分组统计 mysql分组显示">mysql分组group </a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-6.html" title="php面试题 php陷阱题 php基础题 php常见面试题 php考题">php面试题 陷阱题</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-8.html" title="wamp5,apache 虚拟主机配置 wamp5虚拟主机配置 apache虚拟主机配置">wamp虚拟主机配置</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-2.html" title="Js获取屏幕高度，获取屏幕宽度。 ">Js获取屏幕body宽高度</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-7.html" title="MySql常用语句 有用的MySQL语句 MySql语句">MySql常用语句</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-3.html" title="php空间的在线解压 php空间的在线解压ZIP php空间解压ZIP 在线解压ZIP 在线解压zip 空间php解压 php空间解压">php空间的在线解压 ZIP</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-22.html" title="vps 安全登录的方法 ssh  登录">vps 安全登录的方法 ssh 登录</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-24.html" title="django 初始化安装，python django学习笔记">django 安装初始化-Python Django 学习笔记1</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-15.html" title="vim基本命令,vim常用命令">vim基本命令,vim常用命令</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-11.html" title="Linux安装git git linux配置安装 liunx git">Linux安装git</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-19.html" title="python安装mysql">python安装mysql</a>&nbsp;(216)</li>
					<li><a href="/Article-content-artid-4.html" title="Jquery随屏滚动特效 jquery滚动 jquery滚动特效 jquery特效">Jquery随屏滚动特效</a>&nbsp;(216)</li>
				</ul>
			</div>
			<div class="sidebar">
				<h2>文章分类</h2>
				<div class="clr"></div>
				<ul class="sb_menu">
					<volist name="catelist" id="c">
						<li><a href="{:U('Article/index',['cateid'=>$c['id']])}" title="{$c['description']}">{$c['name']}</a>&nbsp; (25)</li>
					</volist>
				</ul>
			</div>
		</div>
		<!-- end right -->
	</div>
	<div class="clr"></div>
	<div class="footer">
		<p class="lr">
			© Copyright <a href="http://www.phpyrb.com/">http://www.phpyrb.com</a>.
		</p>
		<p class="lf">
			Collect from: <a href="http://www.phpyrb.com/" title="马伟博客" target="_blank">马伟博客</a>
		</p>
		<p style="display: none;">
			<a href="http://www.phpyrb.com/sitemap/sitemap.html">sitemap</a>
		</p>
		<div class="clr"></div>
	</div>
	<script type="text/javascript" src="./Public/SyntaxHighlighter/codehighlight.js"></script>
	<script type="text/javascript">
		SyntaxHighlighter.config.clipboardSwf = '/Public/SyntaxHighlighter/clipboard.swf';
		SyntaxHighlighter.all();
	</script>

	<block name="js"></block>
</body>
</html>