<!DOCTYPE html>
<html>
<head>
<title><block name="title">Python博客,马伟个人博客,PhPyRb博客</block></title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="keywords" content="<block name="keywords">PHP,Pythoy,Ruby,Js,Jquery,HTML5,Css,Ajax,python学习,个人主页,博客,网站建设,PHP建站</block>" />
<meta name="description" content="<block name="description">pythob学习,深圳PHP博客,马伟个人博客,python博客</block>" />
<link href="/Public/css/base.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="/Public/SyntaxHighlighter/syntaxHighlighter-min.css" />
<block name="css"></block>
</head>
<body>
	<div class="header">
		<div class="header_nav">
			<div class="logo inline">
				<a href="{:U('Article/index')}">PhPython Blog</a>
			</div>
			<div class="inline">
				<dl class="mean">
					<dd>
						<a href="**" title="">学习,马伟</a>
						<dl class="">
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
						</dl>
					</dd>
					<dd>
						<a href="**" title="">学习,马伟</a>
						<dl>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
							<dd>
								<a href="aa">学习,马伟</a>
							</dd>
						</dl>
					</dd>
				</dl>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<!-- end header -->
	<!-- start content -->
	<div class="content">
		<div class="left">
			<!-- start left content -->
			<block name="left-content"></block>
			<!-- end left content -->
			<if condition="$page">
				<div id="page">
					<p>
						{$page}
					</p>
				</div>
			</if>
			<div class="clr"></div>
		</div>
		<!-- start right -->
		<div class="right">
			<div class="sidebar">
				<h2>热门标签</h2>
				<div class="clr"></div>
				<volist name="taglist" id="t">
					<ul class="sb_menu two">
						<li><a href="{:U('Article/index',['tagid'=>$t['id']])}" title="{$t['name']}">{$t['name']}</a></li>
					</ul>
				</volist>
			</div>
			<div class="sidebar">
				<h2>热门文章</h2>
				<div class="clr"></div>
				<ul class="sb_menu">
					<volist name="topArt" id="t">
						<li><a href="{:U('Article/info',['artid'=>$t['id']])}" title="{$t['title']}">{$t['title']}</a>&nbsp;({$t['hots']})</li>
					</volist>
				</ul>
			</div>
			<div class="sidebar">
				<h2>文章分类</h2>
				<div class="clr"></div>
				<ul class="sb_menu">
					<volist name="catelist" id="c">
						<li><a href="{:U('Article/index',['cateid'=>$c['id']])}" title="{$c['description']}">{$c['name']}</a>&nbsp; (25)</li>
					</volist>
				</ul>
			</div>
		</div>
		<!-- end right -->
	</div>
	<div class="clr"></div>
	<div class="footer">
		<p class="lr">
			© Copyright <a href="http://www.phpyrb.com/">http://www.phpyrb.com</a>.
		</p>
		<p class="lf">
			Collect from: <a href="http://www.phpyrb.com/" title="马伟博客" target="_blank">马伟博客</a>
		</p>
		<p style="display: none;">
			<a href="http://www.phpyrb.com/sitemap/sitemap.html">sitemap</a>
		</p>
		<div class="clr"></div>
	</div>
	<script type="text/javascript" src="./Public/SyntaxHighlighter/codehighlight.js"></script>
	<script type="text/javascript">
		SyntaxHighlighter.config.clipboardSwf = '/Public/SyntaxHighlighter/clipboard.swf';
		SyntaxHighlighter.all();
	</script>

	<block name="js"></block>
</body>
</html>