<!-- include public templates -->
<extend name="Public:Temp" />

<!-- page title name -->
<block name="PageName">
元件分类列表
</block>

<!-- user list content -->
<block name="content">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-muted bootstrap-admin-box-title">
						元件分类列表
					</div>
					<div class="clr"> </div>
                    <div class="seach_select">
                            <input type="button" onclick="layer.load('元件分类编辑','{:U('Admin/Electron/cateedit')}');" class="btn btn-sm btn-success opn"  value="添加元件分类"/>
                    </div>
                    <div class="pull-right flpostion">
                        <span class="badge">{$count}</span>
                    </div>
				</div>
				<div class="bootstrap-admin-panel-content">
					<table class="table table-striped">
						<thead>
							<tr>
								<!-- <th><input type="checkbox"  check='1' id="checkall"/> -->
								<th>ID</th>
								<th>分类名称</th>
								<th>分类标识</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						    <volist name="list" id="u">
    							<tr id="deleid_{$u['id']}">
    								<td><input type="checkbox" name="ids[]" value="{$u['id']}" class="checkalls"/></td>
    								<td>{$u['name']}</td>
    								<td class="upstat">{$u['mark']}</td>
    								<td class="bnt-pl3">
    								    <a href="javascript:;" onclick="layer.load('元件分类编辑','{:U('Admin/Electron/cateedit',array('id'=>$u['id']))}')" ><i class="glyphicon glyphicon-pencil"></i></a>
    								    <a href="javascript:void(0);" url="{:U('Admin/CateTag/delect',array('type'=>$type))}" title="删除" onclick="delall($(this),{$u['id']});"><i class="glyphicon glyphicon-trash"></i></a>
    								</td>
    							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- include public js-->
</block>

